@model List<Maestro>
@{
    ViewData["Title"] = "List Masters";
}

<h2>Detalle Masters</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Rol</th>
            <th>Vendedor</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FactNum</td>
                <td>@item.Referencia</td>
                <td>@item.Vendedor</td>
                <td>@item.Fecha</td>
                <td>
                    <a class="btn btn-primary btn-sm">Update</a>
                    <a asp-action="DeleteMaster" asp-controller="Home" class="btn btn-danger btn-sm" asp-route-FactNum="@item.FactNum">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
