@model List<Detalle>
@{
    ViewData["Title"] = "List Data";
}

<h2>Detalle Venta</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Productos</th>
            <th>Cantidades</th>
            <th>Precios</th>
            <th>Total</th>
            <th>Vendedor</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DetalleNum</td>
                <td>@item.Productos</td>
                <td>@item.Cantidades</td>
                <td>@item.Precios</td>
                <td>@item.Total</td>
                <td>@item.Maestro.Vendedor</td>
                <td>@item.Fecha</td>
                <td>
                    <a asp-action="UpdateDetail" asp-controller="Home" class="btn btn-primary btn-sm" asp-route-DetalleNum="@item.DetalleNum">Update</a>
                    <a asp-action="DeleteDetail" asp-controller="Home" class="btn btn-danger btn-sm" asp-route-DetalleNum="@item.DetalleNum">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
