@model List<Detalle>
@{
    ViewData["Title"] = "List Data";
}

<h2>Detalle Venta</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Productos</th>
            <th>Cantidades</th>
            <th>Precios</th>
            <th>Total</th>
            <th>Vendedor</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DetalleNum</td>
                <td>@item.Productos</td>
                <td>@item.Cantidades</td>
                <td>@item.Precios</td>
                <td>@item.Total</td>
                <td>@item.Maestro.Vendedor</td>
                <td>@item.Maestro.Fecha</td>
            </tr>
        }
    </tbody>
</table>
